body{
    background-color: skyblue;
    font-family: 'Noto Serif', serif;
}

#form{
    padding-left: 250px;
    padding-right: 250px;
    margin-bottom: 100px;
}
#btn1{
    margin-left: 300px;
}

.jumbotron{
    background-color: teal;
    color: tan;
    font-family: 'Oswald', sans-serif;
}